html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1, h2, h3 {
  font-weight: 400;
}

.text_16_R {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 110%;
  letter-spacing: 0.5px;
  color: #292929;
}

.title_16_R_header, .title_16_R {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0px;
  color: #292929;
}

button {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0.5px;
}

.Menu_20R {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0px;
}

.descriptoin_20_R {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 2px;
  color: #545454;
}

.caption_20_R_130 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.5px;
  color: #292929;
}

.menu_24_R {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  color: #292929;
}

.Numeric2_40 {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0px;
}

.H5_20_R {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0px;
  color: #292929;
}

.h3_31_R {
  font-family: "Open Sans", sans-serif;
  font-size: 31px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0px;
  color: #292929;
}

.h2_37_R {
  font-family: "Open Sans", sans-serif;
  font-size: 37px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0px;
  color: #292929;
}

.numeric_50_R {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0px;
  color: #545454;
}

.H1_70_R_B, .H1_70_R_W {
  font-size: 70px;
  letter-spacing: -0.5px;
  line-height: 130%;
  font: 400;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

.Numeric_100_R {
  font-family: "Open Sans", sans-serif;
  font-size: 100px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0px;
  color: #292929;
}

.text_16_R {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 110%;
  letter-spacing: 0.5px;
  color: #292929;
}

.title_16_R_header, .title_16_R {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0px;
  color: #292929;
}

button {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0.5px;
}

.Menu_20R {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0px;
}

.descriptoin_20_R {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 2px;
  color: #545454;
}

.caption_20_R_130 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.5px;
  color: #292929;
}

.menu_24_R {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  color: #292929;
}

.Numeric2_40 {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0px;
}

.H5_20_R {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0px;
  color: #292929;
}

.h3_31_R {
  font-family: "Open Sans", sans-serif;
  font-size: 31px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0px;
  color: #292929;
}

.h2_37_R {
  font-family: "Open Sans", sans-serif;
  font-size: 37px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0px;
  color: #292929;
}

.numeric_50_R {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0px;
  color: #545454;
}

.H1_70_R_B, .H1_70_R_W {
  font-size: 70px;
  letter-spacing: -0.5px;
  line-height: 130%;
  font: 400;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

.Numeric_100_R {
  font-family: "Open Sans", sans-serif;
  font-size: 100px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0px;
  color: #292929;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  border: 1px dotted red;
  padding: 10px;
}

button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 30px 0;
  height: 54px;
  border-radius: 3px;
}
button .prev {
  border: none;
}

.button-green {
  background-image: linear-gradient(to right, #0F644D, #36A37F);
  border: none;
  color: #FFFFFF;
}

.button-green:hover, .button-transparent:hover {
  background-image: none;
  background-color: #FFFFFF;
  color: #545454;
  cursor: pointer;
}

.button-transparent {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.button-white {
  margin: 2px;
  border: none;
  height: 52px;
  color: #292929;
  background-color: #FFFFFF;
  position: relative;
}
.button-white::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient(to right, #0F644D, #36A37F);
  border-radius: 3px;
  z-index: -1;
}

a {
  text-decoration: none;
}

.header a {
  color: #292929;
}
.header a:hover {
  color: #0F644D;
}

.footer a {
  color: #FFFFFF;
  opacity: 0.5;
}

.descriptoin_20_R {
  opacity: 0.5;
  position: relative;
}
.descriptoin_20_R::before {
  position: absolute;
  top: 0px;
  left: -102px;
  display: block;
  content: "";
  width: 92px;
  height: 78px;
  background-color: #552197;
}

.numeric_50_R {
  opacity: 0.5;
}

.title_16_R_header {
  color: #545454;
  opacity: 0.5;
}

.H1_70_R_W {
  color: #FFFFFF;
}

.H1_70_R_B {
  color: #292929;
}

.Numeric2_40 {
  color: #FFFFFF;
  opacity: 0.5;
}

.header {
  height: 207px;
}

.header-up {
  display: flex;
  margin-top: 23px;
}
.header-up .logo {
  width: 50%;
}
.header-up .contact-info {
  width: 50%;
  margin-left: auto;
  display: flex;
}
.header-up .contact-info .social-list {
  display: flex;
}
.header-up .contact-info .contact-info_work {
  display: flex;
  flex-direction: column;
}
.header-up .contact-info .contact-info_social {
  margin-left: auto;
}

.main-navigation {
  margin: 20px 120px;
}
.main-navigation .nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav-item-service {
  position: relative;
}

.nav-list-servis-list {
  display: none;
  position: absolute;
  background-color: white;
  width: 220px;
}

.nav-item-service:hover .nav-list-servis-list {
  display: block;
}

.footer {
  height: 484px;
  background-image: linear-gradient(to right, #0F644D, #36A37F);
}
.footer .h2_37_R {
  color: white;
}
.footer .caption_20_R_130, .footer .Button_18_R, .footer .menu_24_R {
  color: white;
  opacity: 0.5;
}
.footer .Numeric2_40 * {
  color: white;
}
.footer .footer-content {
  display: flex;
}
.footer .footer-content .footer-contentcolumn {
  width: 33%;
}
.footer .footer-nav {
  display: flex;
}

.main-header_container {
  position: relative;
}

.shadow {
  height: 100px;
  width: calc(100% - 20px);
  background-color: black;
  opacity: 0.6;
  border: 1px solid black;
  text-align: right;
  position: absolute;
  bottom: 10px;
  z-index: 1;
}
.shadow .title {
  opacity: 1;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
}

.portfolio-item {
  display: flex;
  height: 510px;
  justify-content: space-between;
  padding: 50px 20px;
  border-top: 1px solid black;
}
.portfolio-item h2 {
  width: 40%;
  margin: auto;
}
.portfolio-item img {
  width: 60%;
}/*# sourceMappingURL=portfolio.css.map */