@import ./_variables
    
.container
    max-width: 1180px
    margin: 0 auto
    border: 1px dotted red
    padding: 10px

button
    width: 246px
    height: 54px
    border-radius: 3px
    border-color: $darkgreen
    color: $black
    background-color: $white
    .prev
        border: none
        // background-image: url(./../images/mainpages/arrow20.svg)

a
    text-decoration: none
    color: $black
    font-size: 28px
    &:hover
        color: $darkgreen

.descriptoin_20_R
    @extend %descriptoin_20_R
    opacity: 0.5
    position: relative
    &::before
        position: absolute
        top: 0px
        left: -102px
        display: block
        content: ''
        width: 92px
        height: 78px
        background-color: #552197

.h2_37_R
    @extend  %h2_37_R   

.Numeric_100_R
    @extend %Numeric_100_R    

.text_16_R 
    @extend %text_16_R

.H5_20_R
    @extend %H5_20_R   

.h3_31_R
    @extend %h3_31_R   


