@import ./_variables
    
.container
    max-width: 1180px
    margin: 0 auto
    border: 1px dotted red

button
    width: 246px
    height: 54px
    border-radius: 3px
    border-color: $darkgreen
    color: $black
    background-color: $white

a
    text-decoration: none
    color: $black
    font-size: 28px
    &:hover
        color: $darkgreen


