html{
    margin: 0;
    box-sizing: border-box
}

body {
    width: 1440px;
    margin: 0px;
    padding: 0px;
}
header { width: 1440px;
height: 90px;
background-color: black;
}
.headertext {
    font-family: Forum;
    position: absolute;
    color: white;
    width: 294px;
    height: 50px;
    left: 20px;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.02em;
    text-align: left;
}
.navhead {
    width: 584px;   
    height: 50px;   
    top: 20px;  
    left: 768px;
    gap: 30px;
    position: relative;
    display: block
}
.nav1 {
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 50px;
letter-spacing: 0em;
text-align: left;
color: white;
}
.list1 {
display: flex;
list-style-type: none;
justify-content: space-between;
padding: 0;
margin: 0;
}
.icon1 {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 46px;
    left: 1402px;
}
.nav1:hover {
    cursor:pointer;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
}
