@charset "UTF-8";
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1, h2, h3 {
  font-weight: 400;
}

.text_16_R {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 110%;
  letter-spacing: 0.5px;
  color: #292929;
}

.title_16_R_header, .title_16_R {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0px;
  color: #292929;
}

button {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0.5px;
}

.menu_20R {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0px;
}

.descriptoin_20_R {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 2px;
  color: #545454;
}

.caption_20_R_130 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.5px;
  color: #292929;
}

.menu_24_R {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  color: #292929;
}

.Numeric2_40 {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0px;
}

.H5_20_R {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0px;
  color: #292929;
}

.h3_31_R {
  font-family: "Open Sans", sans-serif;
  font-size: 31px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0px;
  color: #292929;
}

.h2_37_R {
  font-family: "Open Sans", sans-serif;
  font-size: 37px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0px;
  color: #292929;
}

.numeric_50_R {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0px;
  color: #545454;
}

.H1_70_R_B, .H1_70_R_W {
  font-size: 70px;
  letter-spacing: -0.5px;
  line-height: 130%;
  font: 400;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

.Numeric_100_R {
  font-family: "Open Sans", sans-serif;
  font-size: 100px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0px;
  color: #292929;
}

.text_16_R {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 110%;
  letter-spacing: 0.5px;
  color: #292929;
}

.title_16_R_header, .title_16_R {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0px;
  color: #292929;
}

button {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0.5px;
}

.menu_20R {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0px;
}

.descriptoin_20_R {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 2px;
  color: #545454;
}

.caption_20_R_130 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.5px;
  color: #292929;
}

.menu_24_R {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  color: #292929;
}

.Numeric2_40 {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0px;
}

.H5_20_R {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0px;
  color: #292929;
}

.h3_31_R {
  font-family: "Open Sans", sans-serif;
  font-size: 31px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0px;
  color: #292929;
}

.h2_37_R {
  font-family: "Open Sans", sans-serif;
  font-size: 37px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0px;
  color: #292929;
}

.numeric_50_R {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0px;
  color: #545454;
}

.H1_70_R_B, .H1_70_R_W {
  font-size: 70px;
  letter-spacing: -0.5px;
  line-height: 130%;
  font: 400;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

.Numeric_100_R {
  font-family: "Open Sans", sans-serif;
  font-size: 100px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0px;
  color: #292929;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 30px 0;
  height: 54px;
  border-radius: 3px;
  cursor: pointer;
}
button .prev {
  border: none;
}

.button-green {
  background-image: linear-gradient(to right, #0F644D, #36A37F);
  border: none;
  color: #FFFFFF;
}

.button-green:hover, .button-transparent:hover {
  background-image: none;
  background-color: #FFFFFF;
  color: #545454;
  cursor: pointer;
}

.button-transparent {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.button-white {
  margin: 2px;
  border: none;
  height: 52px;
  color: #292929;
  background-color: #FFFFFF;
  position: relative;
}
.button-white::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient(to right, #0F644D, #36A37F);
  border-radius: 3px;
  z-index: -1;
}

a {
  text-decoration: none;
}

.header a {
  color: #292929;
}
.header a:hover {
  color: #0F644D;
}

.footer a {
  color: #FFFFFF;
  opacity: 0.5;
}

.descriptoin_20_R {
  opacity: 0.5;
}

.numeric_50_R {
  opacity: 0.5;
}

.title_16_R_header {
  color: #545454;
  opacity: 0.5;
}

.H1_70_R_W {
  color: #FFFFFF;
}

.H1_70_R_B {
  color: #292929;
}

.Numeric2_40 {
  color: #FFFFFF;
  opacity: 0.5;
}

.header {
  height: 207px;
}

.header-up {
  display: flex;
  margin-top: 23px;
}
.header-up .logo {
  width: 50%;
}
.header-up .contact-info {
  width: 50%;
  margin-left: auto;
  display: flex;
}
.header-up .contact-info .social-list {
  display: flex;
}
.header-up .contact-info .contact-info_work {
  display: flex;
  flex-direction: column;
}
.header-up .contact-info .contact-info_social {
  margin-left: auto;
}

.main-navigation {
  margin: 20px 120px;
}
.main-navigation .nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav-item-service {
  position: relative;
}

.nav-list-servis-list {
  display: none;
  position: absolute;
  background-color: white;
  width: 220px;
}
.nav-list-servis-list .nav-list-servis-item {
  opacity: 0.3;
}
.nav-list-servis-list .nav-list-servis-item:hover {
  opacity: 1;
}

.nav-item-service:hover .nav-list-servis-list {
  display: block;
}

.main-screen {
  height: 650px;
  background-image: url("./images/mainpage/maincover.jpg");
  background-size: 100% auto;
  overflow: hidden;
}
.main-screen h1 {
  margin-top: 170px;
}
.main-screen .main-description {
  width: 35%;
  color: white;
  line-height: 150%;
}
.main-screen button {
  margin-top: 27px;
  border: none;
}

.about {
  max-height: 500px;
}
.about ul.about-list {
  display: flex;
  flex-direction: row;
  width: 1020px;
  margin-left: auto;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 140px;
}
.about .about-item {
  position: relative;
}
.about .about-text {
  position: absolute;
  max-width: 195px;
  left: 60px;
}

.img-comp-container {
  position: relative;
  height: auto;
  width: 1180px;
  margin-left: -10px;
}
.img-comp-container img {
  max-width: none;
}

.img-comp-img {
  position: absolute;
  width: 1180px;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}

.foto-slider-container {
  height: 600px;
  border: 1px dotted blue;
}

.cause-item {
  display: flex;
}
.cause-item div {
  width: 33%;
}
.cause-item div:nth-child(n+2) {
  border-top: 1px solid rgba(84, 84, 84, 0.5);
}

.portfolio .slider-container {
  display: flex;
  justify-content: space-between;
  height: 600px;
}
.portfolio button {
  align-self: flex-end;
}
.portfolio .slider {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin-right: -120px;
}
.portfolio .slider .slider-card {
  height: 100%;
  min-width: 360px;
  margin-right: 60px;
  border: 1px solid black;
}
.portfolio .slider .slider-card img {
  size: 500px auto;
}
.portfolio .slider .slide {
  min-width: 300px;
  height: 500px;
  background-color: red;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  border-radius: 6px;
  height: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: white;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: rgba(84, 84, 84, 0.5);
  border-radius: 8px;
}

/* Стрелки */
.form-header {
  display: flex;
  justify-content: space-between;
  background-image: url("./images/mainpage/calculatecover.jpg");
  background-size: 100% auto;
  overflow: hidden;
  height: 164px;
}
.form-header * {
  color: white;
}

.price .price-item {
  display: flex;
}

.howwork ul.howwork_list {
  width: 66%;
  margin-left: auto;
}
.howwork .howwork_item {
  position: relative;
  margin-bottom: 100px;
}
.howwork .howwork_item:nth-child(1) {
  margin-top: 100px;
}
.howwork .howwork-item_number {
  position: absolute;
  left: -35px;
  top: -45px;
}

.benefit .benefit-item {
  position: relative;
  margin-bottom: 100px;
}
.benefit .benefit-item:nth-child(1) {
  margin-top: 100px;
}
.benefit .benefit-number {
  position: absolute;
  left: -35px;
  top: -45px;
}
.benefit .benefit-content {
  display: flex;
}
.benefit .benefit-content .benefit-imgs {
  width: 70%;
  position: relative;
}
.benefit .benefit-content .benefit-imgs .benefit_second-img {
  position: absolute;
  top: 335px;
  left: 430px;
}
.benefit .benefit-content .benefit-list {
  width: 30%;
}

.about-me .about {
  width: 60%;
}
.about-me .about-me_signature {
  text-align: center;
}
.about-me .about-me_content {
  display: flex;
}
.about-me .about-me_content .about-me_text {
  width: 50%;
}

.footer {
  height: 484px;
  background-image: linear-gradient(to right, #0F644D, #36A37F);
}
.footer .h2_37_R {
  color: white;
}
.footer .caption_20_R_130, .footer .Button_18_R, .footer .menu_24_R {
  color: white;
  opacity: 0.5;
}
.footer .Numeric2_40 * {
  color: white;
}
.footer .footer-content {
  display: flex;
}
.footer .footer-content .footer-contentcolumn {
  width: 33%;
}
.footer .footer-nav {
  display: flex;
}/*# sourceMappingURL=styles.css.map */