.footer
    height: 152px
    background-image: -webkit-linear-gradient(right, #0F644D, #36A37F)
    background-image: -moz-linear-gradient(right, #0F644D, #36A37F)
    background-image: -o-linear-gradient(right, #0F644D, #36A37F)
    background-image: linear-gradient(to right, #0F644D, #36A37F)
    color: white