.header
    height: 207px

.header-up
    display: flex
  
    margin-top:  23px
    .logo
        width: 50%
      
    .contact-info
        width: 50%
        margin-left: auto
        display: flex
        .social-list
            display: flex
        .contact-info_work
            display: flex
            flex-direction: column
        .contact-info_social
            margin-left: auto

.main-navigation
    margin: 20px 120px
    .nav-list 
        display: flex
        flex-direction: row
        justify-content: space-between
        width: 100%

.nav-item-service
    // display: none
    position: relative        
.nav-list-servis-list
    display: none
    position: absolute
    background-color: white
    width: 220px
    .nav-list-servis-item
        opacity: 0.3
        &:hover
            opacity: 1
.nav-item-service:hover .nav-list-servis-list
    display: block






